:root {
    --bg-color: #FAD5A5;
    --text-color: white;
    --input-bg: rgb(255, 255, 255);
    --input-text: rgb(0, 0, 0);
    --button-bg: white;
    --button-text: black;
    --container-bg: #20232a;
    --hourly-border-color: #ffffff4d;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  transition: background 0.4s, color 0.4s;
  padding: 1px;
}

#weather-container {
    background: var(--container-bg);
    max-width: 350px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    text-align: center;
}

h2, label, p {
    color: var(--text-color);
    margin: 8px 0;
}

input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
    background: var(--input-bg);
    color: var(--input-text);
    transition: background 0.3s, color 0.3s;
}

button {
    background: var(--button-bg);
    color: var(--button-text);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 110px;
    font-size: 13px;
    transition: background 0.3s, color 0.3s;
}

button:active {
  transform: scale(0.96);
  box-shadow: 0 0 8px #000;
}

#weather-icon {
    width: 200px;
    height: 200px;
    margin: 0 auto 10px;
    margin-top: -10px;
    display: none;
}

#temp-div p {
    font-size: 60px;
    margin-top: -40px;
}

#weather-info {
    font-size: 20px;
}

.flip-container {
  perspective: 1000px;
  width: 100vw;
  height: auto;
  position: relative;

}

.flipper {
  width: 90%;
  height: auto;
  min-height: 675px;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
 margin:20px;
}

.flipped .flipper {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 15px;
    background: var(--container-bg);
    padding: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
    color: var(--text-color);
}

.front {
  z-index: 2;
    right: 0;
    left:0;
}

.back {
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  right: 5%;
  width: 100%;
  height: auto;
  border-radius: 15px;
  background: var(--container-bg);
  padding: 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
  color: var(--text-color);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#hourly-forecast-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    margin-top: 20px;
}

.hourly-grid-item {
    text-align: center;
    border: 1px solid var(--hourly-border-color);
    border-radius: 10px;
    padding: 20px;
}

.hourly-grid-item img {
    width: 30px;
    height: 30px;
}
